venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
tree_images/
.DS_Store
Thumbs.db

# Dataset & ảnh
*.jpg
*.jpeg
*.png
*.zip

# Model nặng không dùng
yolo11n-cls.pt
yolo11l-cls.pt

# Thư mục output train của YOLO
runs/
convert_to_nano.py
!best_nano.pt
