Django==5.1.9
djangorestframework==3.14.0
ultralytics==8.3.201
torch==2.2.2
torchvision==0.17.2
Pillow==10.0.0
numpy==1.24.0
opencv-python==4.8.1.78
gunicorn
psycopg2-binary==2.9.9
ultralytics-thop==2.0.17